<div class="d-flex flex-wrap ">
  <!--
    pour chaque collegue dans le tableau
      une instance de <tc-colleagues> serat crée
        et recevras les données de la variable colleague
        notez qu'ici l'usage du modéle objet simplifie largement
        le passage de grandes quantité d'information sans surcharger l'écriture/lecture du code

        emte vote est un passage d'evénement

  -->
  <tc-colleague class="m-1" *ngFor="let collegue of colleagueservice.list()" (emetVote)="callVote($event)"
    [colleague]="collegue">
  </tc-colleague>




</div>
